#filter {
  display: flex;
  padding: 15px;
align-items: center;

}


#filter-select {
  padding: 0;
  background-color: var(--primary-color);
  color: #FFF;
  border-radius: 5px;
  border: none;
  width: 160px;
  height: 40px;
  font-size: 20px;
  margin-left: 15px;
  text-align: center;


}






