#filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    margin-right: 20px;
  }

  select {
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: #901c1cdc;
    border-radius: 5px;
    border-color: transparent;
  }
}