body {
  padding: 0 50px;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-top: 10px;
}

#totalLikes {
  position: fixed;
  height: 70px;
  width: 250px;
  border-radius: 5px;
  bottom: 0;
  right: 30px;
  z-index: 2;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  #total {
    text-align: center;
  }

  .totalbis {
    display: flex;
    align-items: center;
  }
}

#photographCardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #info {
    padding: 30px;

    h2 {
      color: var(--secondary-color);
    }

    h3 {
      color: var(--primary-color);
    }

    h4 {
      color: var(--tertiaire-color);
    }
  }

  .photographImg {
    margin-right: 30px;
    width: 13%;
    border-radius: 50%;
  }
}


#contactModal {
  display: none;
  width: 100%;
  z-index: 99;
  position: fixed;
  padding-top: 50px;

}

.contactButton {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 160px;
  height: 60px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  margin: auto;
  position: relative;

}

.modalSub {
  text-align: left;
  flex-direction: row-reverse;
  width: 50%;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
  }

  .closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input,
form textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;

}

#message {
  height: 100px;
}

.message {
  height: 100px;
}

.contactSend {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}