@import "./photographer.scss";
@import "./index.scss";
@import "./media.scss";
@import "./color.scss";
@import "./lighbox.scss";

body {
  font-family: "DM Sans";
  margin: 0;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}


.logo {
  width: 20%;
}




